<p id="notice"><%= notice %></p>

<p>
  <strong>Clase:</strong>
  <%= @clase.clase %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @clase.seccion %>
</p>

<%= link_to 'Edit', edit_clase_path(@clase) %> |
<%= link_to 'Back', clases_path %>
